a {
  @apply text-blue-400 hover:underline;
}

.side-bar {
  @apply sticky top-14 h-[calc(100vh-56px)] basis-80 flex flex-col overflow-hidden overflow-y-auto py-4;

  /* width */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.post-item {
  @apply flex flex-col w-full justify-center;
  @apply rounded-lg overflow-hidden;
  @apply dark:bg-neutral-800 bg-[#f0f2f5];

  & + & {
    @apply mt-4;
  }
}

.emotions {
  @apply flex justify-center items-center w-5 h-5;
  @apply rounded-full overflow-hidden;
  @apply border border-solid border-slate-800;

  & + & {
    @apply -ml-1;
  }
}

.friends-icon {
  @apply flex justify-center items-center w-8 h-8;
  @apply relative rounded-full overflow-hidden;
  @apply border border-solid border-slate-800;

  & + & {
    @apply -ml-1;
  }
}

.custom-loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // Old color: #766df4
  background: radial-gradient(farthest-side, #b0e0e6 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #b0e0e6);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;

  .large {
    width: 50px;
    height: 50px;
  }
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
